h1 span {
  font-family: 'Yantramanav', sans-serif;
  color: #EC6F66;
}

h1, h2 {
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
  word-break: normal;
}

h2 {    
 margin-left: 40px;
 text-align: left;
 width: 90%;
 border-bottom: solid #EC6F66 2px;
 font-weight: bold;
 font-size: 1.5em;
 color: #EC6F66
}

h2 span {
  color: black;
  margin-left: 20px;
}

h4 {
  font-weight: bold;
}

h4 span {
  border-bottom: solid;
  color: #EC6F66;
}

h5 {
  margin: 0px;
  width: 100%;
  text-align: center;
  color: #cbad6d;
  font-size: 1.5em;
  background-color: rgb(61, 67, 71);
}

h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0px;
}


body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

header {
  display: flex;
}

.bloc_photo {
  background-color: #F3A183;
  width: 100%;
}

img {
  align-content: center;
  width: 200px;
  height: 200px;
  display:block;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border: solid 4px rgba( 0, 0, 0, 0.1);
  }

.bloc_titre {
  margin-left: 20px;
}

.container {
  display: grid;
  word-break: normal;
  position: relative;
  margin: auto;
  grid-template-areas: "left header header header"
                       "left title title title"                      
                       "left icon date right"
                       "left icon2 date2 right2"
                       "left title2 title2 title2"
                       "left icon3 date3 right3"
                       "left icon4 date4 right4"
                       "left title3 title3 title3"
                       "left footer footer footer";
  grid-template-columns: 30% 30px 15% 52%;
  grid-template-rows: 200px 60px 140px 140px 60px 140px 140px 60px 146px;
}
  header {
    grid-area: header;
}

.title {
  grid-area: title;
}
.title2 {
  grid-area: title2;
}
.title3 {
  grid-area: title3;
  align-content: flex-start;
}

.title,.title2,.title3 {
 color: #EC6F66;
 margin-bottom: 20px;
 margin-top: 20px;
}

.icon {
  grid-area: icon;
}
.icon2 {
  grid-area: icon2;
}
.icon3 {
  grid-area: icon3;
}
.icon4 {
  grid-area: icon4;
}
.icon,.icon2,.icon3,.icon4 {
  color: #EC6F66;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
}

.date {
  grid-area: date;
}
.date2 {
  grid-area: date2;
}
.date3 {
  grid-area: date3;
}
.date4 {
  grid-area: date4;
}
.date,.date2,.date3,.date4 {
  font-size: 0.7em;
  margin-top: 25px;
  margin-left: 40px;
  padding-top: 20px;
  padding-top: 20px;
 }

.right {
  grid-area: right;
}
.right2 {
  grid-area: right2;
}
.right3 {
  grid-area: right3;
}
.right4 {
  grid-area: right4;
}
.right,.right2,.right3,.right4 {
  font-size: 0.8em; 
  margin-left: 60px; 
  margin-right: 100px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

.left {
  grid-area: left;
  background-color: #F3A183;
}
.bloc_aside {
  background-color: #F3A183; 

}
.info, .about_me {
  padding:20px;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color :black;
  word-break: break-all;
}
a:hover{
  color: rgb(230, 77, 60);
}

footer {
  grid-area: footer;
}

.loisirs {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #F3A183;
  padding: 15%;

   
}

.icon_loisirs {
   display: flex;
   border: 2px solid rgb(61, 67, 71);
   border-radius: 50%;
   font-size: 1.5em;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
}

.bloc_recommandations {
  display: flex;
  justify-content: space-between;
  align-content: center; 
  width: 60%;
  margin-top: 30px;
  margin-left:10px;
  
}

ul {
  list-style: none;
}

 /* For Little Screen */

@media all and (max-width: 768px) {

  .container {
  display: flex;
  flex-direction: column;
  word-break: normal;   
  } 

  header {
  width: 100%;
  font-size: 0.7em;
  }

  h2 {
    margin: 10px;
    justify-content: center;
    width: 100%;
  }
  h2 span {
      color: black;
      margin: 0px;
  }

  .left {
  width :100%;
  margin: 0px;
  }

  .icon, .icon2, .icon3, .icon4 {
    display: none;
  }

  .date,.date2,.date3,.date4 {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1em;
    color: #FFEEEE;
    border:2px solid black;
    border-radius: 10px;
    background-color:#F3A183;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .right,.right2,.right3,.right4 {
   width: 96%;
   padding: 2%;
   border-style: solid;
   border-width: 0px 2px 2px 2px;
   border-radius: 10px;
   background-color: #EAECC6;
   margin: 0px;
  }
  .title,.title2,.title3 {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 0px;

    }

  .bloc_recommandations {
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   width: 80%;
   margin-top: 0px;

   }
   .loisirs {
    display: flex;
    align-content: center;
    padding: 5%;


   }
 }

 /* For Big Screen */

 @media (min-width: 768px and max width 1024px){


  .container {
  display: flex;
  flex-direction: column; 
  word-break: normal;   
  } 

  header {
    font-size: 2em;
  width: 100%;
  }

  h2 {
    margin-top: 20px;

  }

  .left {
  width :100%;
  margin: 0px;
  font-size: 1.5em;
  }

  .icon, .icon2, .icon3, .icon4 {
    display: none;
  }

  .date,.date2,.date3,.date4 {
    justify-content: center;
    font-size: 2em;
    text-align: center;
    width: 100%;
    color: #FFEEEE;
    border:2px solid black;
    border-radius: 10px;
    background-color:#F3A183;
    margin: 0px;
  }

  .right,.right2,.right3,.right4 {
   width: 96%;
   font-size: 2em;
   padding: 2%;
   border-style: solid;
   border-width: 0px 2px 2px 2px;
   border-radius: 10px;
   background-color: #EAECC6;
   margin: 0px;
  }
  .title,.title2,.title3 {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    width: 95%;
    }

  .bloc_recommandations {
   display: flex;
   font-size: 2em;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   width: 80%;
   
   }

   .loisirs {
    display: flex;
    align-content: center;  
  }

  .icon_loisirs {
   display: flex;
   border: 2px solid rgb(61, 67, 71);
   border-radius: 50%;
   font-size: 2em;
   margin-top: 0px;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 120px;
   }
 }

 
